<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://proconinator.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>proconinator.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>proconinator</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$proconinator</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="ProConinator.Web.Models.ApplicationDbContext" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:i65hda7ajw.database.windows.net,1433;Initial Catalog=proconinator_dev;Integrated Security=False;User ID=procon@i65hda7ajw;Password=D3struct;Connect Timeout=30;Encrypt=True" Name="Server=tcp:i65hda7ajw.database.windows.net,1433;Database=proconinator;User ID=procon@i65hda7ajw;Password=D3struct;Trusted_Connection=False;Encrypt=True;Connection Timeout=30" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="ProConinator.Web.Models.ApplicationDbContext, ProConinator.Web" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="IdentityStore" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=tcp:i65hda7ajw.database.windows.net,1433;Initial Catalog=proconinator_dev;Integrated Security=False;User ID=procon@i65hda7ajw;Password=D3struct;Connect Timeout=30;Encrypt=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\IdentityStore_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Server=tcp:i65hda7ajw.database.windows.net,1433;Database=proconinator_dev;User ID=procon@i65hda7ajw;Password=D3struct;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
        <ObjectGroup Name="DocStore" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="DefaultEndpointsProtocol=https;AccountName=proconinator;AccountKey=sFnbdG9zh2m2xMb88TeTCkvEfsXkG3LQeerFfCRK/ttznS3OJqh92E1JDT1GH30R3ncAdV0JXDoGw3T9pDZ6lQ==" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DocStore_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="DefaultEndpointsProtocol=https;AccountName=proconinator;AccountKey=sFnbdG9zh2m2xMb88TeTCkvEfsXkG3LQeerFfCRK/ttznS3OJqh92E1JDT1GH30R3ncAdV0JXDoGw3T9pDZ6lQ==" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DocStore-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)IdentityStore-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)ProConinator.Web.Models.ApplicationDbContext-Web.config Connection String">
      <ParameterValue>Server=tcp:i65hda7ajw.database.windows.net,1433;Database=proconinator_dev;User ID=procon@i65hda7ajw;Password=D3struct;Trusted_Connection=False;Encrypt=True;Connection Timeout=30</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="ProConinator.Web.Models.ApplicationDbContext" />
  </ItemGroup>
</Project>