<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

    <connectionStrings xdt:Transform="Replace">
    <add name="DocStore" connectionString="DefaultEndpointsProtocol=https;AccountName=proconinator;AccountKey=sFnbdG9zh2m2xMb88TeTCkvEfsXkG3LQeerFfCRK/ttznS3OJqh92E1JDT1GH30R3ncAdV0JXDoGw3T9pDZ6lQ==" />
      <add name="IdentityStore"
           connectionString="Server=tcp:i65hda7ajw.database.windows.net,1433;Database=proconinator_dev;User ID=procon@i65hda7ajw;Password=D3struct;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;"
           providerName="System.Data.SqlClient" />    
    </connectionStrings>
  <appSettings>
    <add key="MsAccountClientId" value="0000000040123602"
         xdt:Transform="SetAttributes"
         xdt:Locator="Match(key)"/>
    <add key="MsAccountClientSecret" value="t8aZVkCsPhC7Ysjp4XZ3W4sbjX3bRdCk"
         xdt:Transform="SetAttributes"
         xdt:Locator="Match(key)"/>
  </appSettings>
  <system.web>
    <compilation debug="false" xdt:Transform="SetAttributes" />
    <!--
      In the example below, the "Replace" transform will replace the entire
      <customErrors> section of your Web.config file.
      Note that because there is only one customErrors section under the
      <system.web> node, there is no need to use the "xdt:Locator" attribute.

      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>
